{% extends "/layout.html" %}
{% block content %}
<div id="about">

	<div class="card">
	  <h3 class="card-header">Criminal Justice Reform</h3>
	  <div class="card-block">
	    <h4 class="card-title">Extended Lorem Ipsum edition.</h4>
	    <p class="card-text">
	    	An excerpt of the full text.
	    	<br>
	    	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
	    </p>
	    <a href="#" class="btn btn-primary">View full</a>
	  </div>
	</div>

	<div class="card">
	  <h3 class="card-header">Climate Change</h3>
	  <div class="card-block">
	    <h4 class="card-title">Extended Lorem Ipsum edition.</h4>
	    <p class="card-text">
	    	An excerpt of the full text.
	    	<br>
	    	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
	    </p>
	    <a href="#" class="btn btn-primary">View full</a>
	  </div>
	</div>

	<div class="card">
	  <h3 class="card-header">Something Else</h3>
	  <div class="card-block">
	    <h4 class="card-title">Extended Lorem Ipsum edition.</h4>
	    <p class="card-text">
	    	An excerpt of the full text.
	    	<br>
	    	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
	    </p>
	    <a href="#" class="btn btn-primary text-right">View full</a>
	  </div>
	</div>

	<div class="card">
	  <h3 class="card-header">Something Else</h3>
	  <div class="card-block">
	    <h4 class="card-title">Extended Lorem Ipsum edition.</h4>
	    <p class="card-text">
	    	An excerpt of the full text.
	    	<br>
	    	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
	    </p>
	    <a href="#" class="btn btn-primary text-right">View full</a>
	  </div>
	</div>

	<div class="card">
	  <h3 class="card-header">Something Else</h3>
	  <div class="card-block">
	    <h4 class="card-title">Extended Lorem Ipsum edition.</h4>
	    <p class="card-text">
	    	An excerpt of the full text.
	    	<br>
	    	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
	    </p>
	    <a href="#" class="btn btn-primary text-right">View full</a>
	  </div>
	</div>

	<div class="card">
	  <h3 class="card-header">Something Else</h3>
	  <div class="card-block">
	    <h4 class="card-title">Extended Lorem Ipsum edition.</h4>
	    <p class="card-text">
	    	An excerpt of the full text.
	    	<br>
	    	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
	    </p>
	    <a href="#" class="btn btn-primary text-right">View full</a>
	  </div>
	</div>

	<div class="card">
	  <h3 class="card-header">Something Else</h3>
	  <div class="card-block">
	    <h4 class="card-title">Extended Lorem Ipsum edition.</h4>
	    <p class="card-text">
	    	An excerpt of the full text.
	    	<br>
	    	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
	    </p>
	    <a href="#" class="btn btn-primary text-right">View full</a>
	  </div>
	</div>

	<div class="card">
	  <h3 class="card-header">Something Else</h3>
	  <div class="card-block">
	    <h4 class="card-title">Extended Lorem Ipsum edition.</h4>
	    <p class="card-text">
	    	An excerpt of the full text.
	    	<br>
	    	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
	    </p>
	    <a href="#" class="btn btn-primary text-right">View full</a>
	  </div>
	</div>

</div>

{% endblock %}