{% extends "/layout.html" %}
{% block content %}
<div id="about">
	<div class="card-table">
	<!-- card table begins -->

	<div class="col-lg-10 text-right">
		<h1 class=""><strong>about</strong></h1>
		<h6 class="card-subtitle mb-2">articles, policy, writings</h6>
	</div>

    {% for post in posts %}
			<div class="card card-fullwidth medium-article">
				<h3 class="card-header">{{ post.title }}</h3>
				<div class="card-block">
					<h6 class="card-subtitle mb-2 text-muted">{{ post.date }}</h6>
					<p class="card-text">
					{{ post.body|safe }}
					</p>
				</div>
				<div class="card-footer text-right">

				{% for tag in post.tags %}
					<a href="#" class="btn btn-outline-secondary tags-button">#{{tag}}</a>
    		{% endfor %}
					<a href="{{ post.link }}" class="btn btn-outline-secondary">read on medium</a>
				</div>
			</div>
    {% endfor %}

	<!-- end .card-table -->
	</div>
</div>

{% endblock %}