{% extends "/layout.html" %}
{% block content %}
<div id="connect">
	<div class="card-table">
	<!-- card table begins -->

		<div class="col-lg-10 text-right">
			<h1 class=""><strong>connect</strong></h1>
			<h6 class="card-subtitle mb-2">where are we at on social media?</h6>
		</div>

		<div class="card-columns col-lg-10">

			{% for tweet in tweets %}
				<div class="card tweet-card">
				{% if tweet.entities.media %}
					{% for media in tweet.entities.media %}
						{% if media.type == 'photo' %}
							<img class="card-img-top img-fluid" src="{{ media.media_url_https }}" alt="Card image cap">
						{% endif %}
					{% endfor %}
				{% endif %}
				 	<div class="card-header">
					  	<img class="img-thumbnail float-left" src="{{tweet.user.profile_image_url_https}}">
				    	<div class="twitter-name">
				    		@{{ tweet.user.name }}
				    	</div>
				    	<div class="tweet-date hidden-md-down text-right">
				    		<small class="text-muted">{{tweet.created_at|format_date}}</small>
				    	</div>
				    	<div class="tweet-date hidden-sm-up text-right">
				    		<small class="text-muted">{{tweet.created_at|format_date}}</small>
				    	</div>
					</div>
						<div class="card-block">
						<p class="card-text">
						{{ tweet.text }}
						</p>
					</div>
				</div>
			{% endfor %}

		</div>

	<!-- end .card-table -->
	</div>
</div>

{% endblock %}