{% extends "/layout.html" %}
{% block content %}
<div id="connect">
	<div class="card-table">
	<!-- card table begins -->

		<div class="col-lg-10 text-right">
			<h1 class=""><strong>connect</strong></h1>
			<h6 class="card-subtitle mb-2">we know how to social media</h6>
		</div>

		<div class="card-columns col-lg-5 col-md-6">

			{% for tweet in tweets %}
				<div class="card tweet-card">
				{% if tweet.entities.media %}
					{% for media in tweet.entities.media %}
						{% if media.type == 'photo' %}
							<img class="card-img-top img-fluid" src="{{ media.media_url_https }}" alt="Card image cap">
						{% endif %}
					{% endfor %}
				{% endif %}

					<div class="card-header">
							<img class="img-thumbnail float-left" src="{{tweet.user.profile_image_url_https}}">
							<div class="twitter-name">
								@{{ tweet.user.name }}
							</div>
							<div class="tweet-date text-right">
								<small class="text-muted">{{tweet.created_at|format_date}}</small>
							</div>
							<div class="tweet-date hidden-sm-up text-right">
								<small class="text-muted">{{tweet.created_at|format_date}}</small>
							</div>
					</div>
						<div class="card-block">
						<p class="card-text">
						{{ tweet.text_parsed|safe }}
						</p>
					</div>
				</div>
			{% endfor %}

		</div>

		<div class="card-columns col-lg-5 col-md-6">

			{% for status in statuses %}
				<div class="card tweet-card">
				<div class="card-header">
						<img class="img-thumbnail float-left" src="{{ fb_pic }}">
						<div class="twitter-name">
							Portland's Resistance
						</div>
						<div class="tweet-date text-right">
							<small class="text-muted">{{ status.created_time|format_iso }}</small>
						</div>
						<div class="tweet-date hidden-sm-up text-right">
							<small class="text-muted">{{ status.created_time }}</small>
						</div>
				</div>
					<div class="card-block">
					<p class="card-text">
					{{ status.message }}

					{% if status.type == 'link' %}
						<div class="card fb-link-card">
							<a href="{{ status.link }}">
							{% if status.full_picture %}
								<img class="card-img-top img-fluid" src="{{ status.full_picture }}" alt="Image to illustrate linked story.">
							{% else %}
								<img class="card-img-top img-fluid" src="{{ status.picture }}" alt="Image to illustrate linked story.">
							{% endif %}

							</a>
							<div class="card-block">
								<h5 class="card-title">
									<a href="{{ status.link }}">
										{{ status.name }}
									</a>
								</h5>
								<p class="card-text">{{ status.description }}</p>
							</div>
						</div>
					{% endif %}
					</p>
				</div>
			</div>
			{% endfor %}

		</div>

	<!-- end .card-table -->
	</div>
</div>

{% endblock %}