{% extends "/layout.html" %}
{% block content %}
<div id="about">
	<div class="card-table">

	<div class="col-lg-10 text-right">
		<h1 class=""><strong>policy</strong></h1>
		<h6 class="card-subtitle mb-2">dept. of cool biceps</h6>
	</div>


		<div class="card card-fullwidth medium-article" id="header-card">
			<div class="card-block">
				<p class="card-text">
					<h4>This can be pictures, tweets, updates on latest projects, or anything else. Right now it's lorem ipsum.</h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet vulputate nibh. Pellentesque tempor tristique est quis bibendum. Phasellus id nunc in dolor tempus molestie et tincidunt dui. Maecenas nec mollis augue, tincidunt condimentum justo. Nullam imperdiet nunc elit, nec imperdiet sapien consequat eu. Vivamus sollicitudin sem nulla, ut fermentum purus auctor ac. In a mauris efficitur, convallis lectus non, dignissim quam. Sed ultrices justo ac turpis porttitor posuere. Morbi ornare orci vel condimentum porta. Nam iaculis consectetur nulla, at venenatis massa congue id. Donec at dapibus magna, nec tristique velit. In metus felis, maximus eget gravida in, dapibus eu nisi. Nullam efficitur accumsan sapien quis finibus.
				</p>
			</div>
			<div class="card-footer text-right">
			</div>
		</div>
	</div>
</div>
{% endblock %}