
// Our run of the mill, basic card design.

@import 'vendor/bootstrap/_variables.scss';

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover, a:focus';

$btn-tags: 'a.btn, a.btn:active, a.btn:hover, a.btn:visited';
$btn-tags-hover: 'a.btn:active, a.btn:hover, a.btn:focus';

$tags-btn-tags: 'a.tags-button, a.tags-button:active, a.tags-button:hover, a.tags-button:visited';
$tags-btn-tags-hover: 'a.tags-button:active, a.tags-button:hover, a.tags-button:focus';

.card {
	// max-width: 75%;
	// border-radius: 0px;
	// margin: 25px;
	color: #292b2c;
	border: 0px;
	background-color: hsla(0, 0%, 0%, 0);
	z-index: 1;

	figure {
	  // Ensures the caption's text aligns with the image.
	  display: inline-block;
		max-width: 50%;
		text-align: center!important;
		img {
		  margin-bottom: ($spacer-y / 2);
		  line-height: 1;
		  width: 100%;
		  border-radius: .25rem;
		}
	figcaption {
	  font-size: 70%;
	  color: $figure-caption-color;
		}
	}


	#{$a-tags} {
	  color: #5e5e5e;
	  text-decoration: underline;
	}
	#{$a-tags-hover} {
	  color: #000;
	  text-decoration: underline;
	}

	#{$btn-tags} {
	  color: #292b2c;
	  text-decoration: none;
	}
	#{$btn-tags-hover} {
	  color: #fff;
	  text-decoration: none;
	  background-color: #6b4f78;

	}
	#{$tags-btn-tags-hover} {
	  color: #fff;
	  text-decoration: none;
	  background-color: #5bc0de;

	}
	.btn {
		margin: 2px 0 2px 0;
	}


	@media screen and (max-width: 992px){
		max-width: 100%;
		margin: 0px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.card-header {
		// font-size: 2rem;
		font-weight: 600;
		border-bottom: 0px;
		background-color: hsla(0, 100%, 100%, 0.79);
		border-radius: 0px;
	}
	.card-block {
		background-color: #fff;
		word-wrap: break-word;
	}
	.card-footer {
		font-weight: 600;
		border-top: 0px;
		background-color: hsla(0, 100%, 100%, 0.79);
		border-radius: 0px;
	}

}
// for tweet cards in masonry grids
.card-columns {
		>.tweet-card {
			@media screen and (max-width: 576px){
				margin-left: 0;
				margin-right: 0;
			}
			>.card-header {
				overflow: visible;
				max-height: 3rem;
		    display: flex;
		    align-items: center;
		    z-index: 1;
		    font-size: 1.1rem;
		    >.twitter-name{
		    	white-space: nowrap;
    			overflow: hidden;
		    }
				@media screen and (max-width: 576px){

				}
		    .tweet-date {
		    	flex-grow: 1;
		    }
			}
			>.card-block {
				padding-top: 1rem;
			}

			margin: .75rem;
				@media screen and (max-width: 576px){
					margin-bottom: 2rem;
					>.card-header {
						font-size: 1.7rem;
						max-height: 4rem;
					}
				}

		}

}


// for cards used as section headers
div.card#header-card {
	max-width: 100%;
}

div.card-fullwidth {
	margin: auto;
	margin-top: 25px;

	@media screen and (max-width: 992px){
		margin-top: 10px;
		width: 80%;
	}

}
.medium-article {
	width: 70%;
}

