body {
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover, a:focus';
#{$a-tags} {
  color: #e8e8e8;
}
#{$a-tags-hover} {
  color: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Bungee');

#main-container {
	display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  width: 100%;
  min-width: 370px;
}

#main {
  flex: 1;
  width: 100%;
  height: inherit;
}

#footer {
  width: 100%;
}

#navigation {
  width: 100%;
  background-color: hsla(133, 100%, 50%, 0.0);
  }

@media screen and (max-width: 543px){
  #navigation {
    order: -1;
    padding-left: 0;
  }
}



// About section

#about {
  min-height: 100vh;
  order: 0;
  margin: 0;
  border-radius: 0;
  background: url('../img/protest-shotboxer.com-.jpg') top right no-repeat;
  background-attachment:fixed;
  background-size: cover;
  padding-top: 100px;
  font-family: 'Carme', sans-serif;
  z-index: 0;
  @media screen and (max-width: 992px){
    padding-top: 60px;
  }
  .card {
    max-width: 75%;
    border-radius: 0px;
    margin: 25px;
    @media screen and (max-width: 992px){
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }


  div.card-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  } 
}

