<div id="connect" name="connect">
	<div id="connect-tiles">
		<div class="tile-row">

			<div class="tile-grow-1">
				<h1><strong>upcoming events</strong></h1>
			</div>

			<div id="description-tile" class="tile-grow-2">
				Portland’s Resistance organizes direct action and policy demands to bring about the just and equitable future that we all deserve.
			</div>
		</div>

		<div class="tile-row">
			<div>
				<h2>Every Sunday</h2>
				<p>
					<a href="https://www.facebook.com/events/367142540324088/">Open Central Committee &rsaquo;</a>
				</p>
			</div>

			<div>
				<h2>Other events</h2>
				<p>
					<a href="https://www.facebook.com/pg/portlandsresistance/events/">Facebook Event Page &rsaquo;</a>
				</p>
			</div>

			<div id="tile-contact" class="tile-grow-1">
				<h2>Connect</h2>
				<img src="/static/img/facebook.png">
				<img src="/static/img/twitter.png">
				<img src="/static/img/instagram.png">

			</div>
		</div>
	</div>
</div>