{% from "macros.html" import nav_link with context %}
<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/#jumbo">/PR/</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" role="navigation">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">

      <li class="nav-item">
        <a class="nav-link" href="/#who">who</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/#connect">events</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about">about</a>
      </li>

    </ul>
  </div>

</nav>