{% from "partial/macros.html" import nav_link with context %}
<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{url_for('home', _anchor='jumbo')}}">/PR/</a>

  <div class="collapse navbar-collapse" id="navbarToggler" role="navigation">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home', _anchor='who')}}">who</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home', _anchor='connect')}}">events</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">about</a>
      </li>

    </ul>
  </div>

</nav>